@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home">
    <h1>Welcome to WebInvoice_GenAI</h1>
    <p>Use our AI-powered tool to check and validate your invoices.</p>
    <video autoplay muted loop style="height:400px; width:100%; position: relative; ">
        <source src="~/navVid.mp4" />
    </video>
</section>

<section id="features">
    <h2>Features</h2>
    <ul>
        <li>AI-based invoice validation</li>
        <li>Real-time error detection</li>
        <li>Detailed reports</li>
    </ul>
</section>

<section id="genai-app">
    <h2>GenAI Invoice checker</h2>
    <iframe src="https://llm-invoice-extractor-etatbjwygbpfmexhusm7su.streamlit.app/?param=value&embedded=true" 
    width="100%" height='800px' style="border:none;"></iframe>
</section>

<section id="extra-space">
    
</section>


